body {
    background-color: lightgrey;
}

#name-title {
    font-family:  Apple Chancery, cursive;
    color: white;
    font-size: 22px;
    text-shadow:
    -1px -1px 0 silver,
    1px -1px 0 silver,
    -1px 1px 0 silver,
    1px 1px 0 silver; 
}

#app-title {
    color: white;
    font-family: OpenSans;
    font-weight: 200;
    font-size: 24px;
}

#calc-border {
    padding-top: 15px;
    margin-top: 10%;
    margin-left: 30%;
    width: 280px;
    height: 520px;
    background-color: lightpink;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10%;
    -moz-box-shadow: 0 0 15px black;
    -webkit-box-shadow: 0 0 15px black;
    box-shadow: 0 0 15px black;
}

.custom-button {
    margin-top: 10px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-left: 10px;
    line-height: 55px;
    font-size: 25px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;

    font-family: OpenSans;
    border: 1px solid black;
    box-shadow: 0px 5px 0px black;
    position: relative;
    top: 0px;
    transition: all ease 0.3s

}

.custom-button:active {
    box-shadow: 0 3px 0 #00823F;
    top: 3px;
}

.custom-button:focus {outline:0;}

.light-blue-button {
    background-color: lightcyan;
}
#num-display-div {
    background-color: azure;
    width: 256px;
    padding-top: 5px;
    padding-right: 10px;
    margin-left: 12px;
    font-family: OpenSans;
    border-radius: 10px;
    margin-bottom: 5px;
}
#num-display {
    text-align: right;
    width: 256px;
    height: 40px;
    line-height: 40px;
    background-color: azure;
    padding-right: 5px;
    font-size: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#internal-func-display {
    text-align: right;
    width: 256px;
    height: 10px;
    line-height: 10px;
    background-color: azure;
    padding-right: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

#zero-button {
    width: 124px;
}

#equals-button {
    width: 55px;
    height: 120px;
    margin-top: -75px;
    margin-left: 5px; 
}

#plus-button-span {
    position: absolute;
    margin-left: 5px;
    margin-top: -5px;
}